.ar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.ar-overlay canvas {
  display: block;
  width: 100%;
  height: 100%;
}
