.app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: #000;
  overflow: hidden;
}

.app-main {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0; /* allow flex child to shrink */
  position: relative;
  overflow: hidden;
}


